.button-menu{   
    cursor: pointer;         
    background-image: url(../images/menu.svg);
    background-repeat: no-repeat;      
    background-position: center;    
    width: 40px;
    height: 40px; 
    background-color: var(--accent-text-color1);  
    color: var(--primary-text-color);  
    border: none;
    @extend %visible-only-mobile;    
}