.button-close{      
    position: absolute;
    top: 8px;
    right: 8px;     
    background-color: var(--accent-text-color1); 
    width: 30px;
    height: 30px; 
    border-radius: 50%;       
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;         
    background-image: url(../images/closeblack.svg);
    background-repeat: no-repeat;      
    background-position: center;    
    transition: background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    &:hover{  
        fill: var(--accent-text-color2);
        background-image: url(../images/closeblue.svg);
        background-repeat: no-repeat;      
        background-position: center;                
    }      
}





