.clients{
    @extend %padding-section; 
 }
 
.clients__caption{
    @extend %caption-parameters;
}

.clients__container{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}
.clients__link{
     display: flex;
    align-content: center;
    justify-content: center;
    width: 170px;
    height: 92px;
    padding: 16px 32px; 
    border: 1px solid rgba(175, 177, 184, 1);   
    border-radius: 4px; 
    color: var(--accent-text-color2);

    &:hover,
    &:focus{     
        border: 1px solid var(--accent-text-color2);   
    }
    &:hover svg,
    &:focus svg{     
        color: (--accent-text-color2);  
        fill: currentColor; 
    }
}
.clients__icon-container{
    display: flex;
    align-content: center;
    justify-content: center;
    width: 106px;
    height: 60px;  
}
