.features{
    @extend %padding-section; 
}
.features__list{
    @extend %decoration-list;
}

.features__item{  
  @extend %width-item;
 }
.features__icon-container{
    /*   padding: 25px 100px; */
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 30px;
      background: var(--bg-icon-features); 
      min-height: 120px;
    //   @extend %width-item;
  }
.features__name{  
    color: var(--primary-text-color);
}
.features__name{        
    margin-bottom: 10px;
      
    font-size: 14px;
    font-weight: 700;   
    line-height: 1.14;
    letter-spacing: 0.03em;
    @media screen and (max-width:767px) { 
        text-align: center;       
    }     
    @media screen and (min-width:768px) {
        text-align: left; 
    }    
}
.features__text,.team__member-position{
    color: var(--secondary-text-color);
}
.features__text{
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-align: left;    
}