.form-order{  
    padding: 32px;
}
.form-order__elements{
    display: block;
    margin-bottom: 20px;
}
.form-order__caption{
    margin-bottom: 12px;
    height: 60px;
    @media screen and (min-width:1200px) {    
        height: 23px; 
    }       
    font-size: 20px;   
    line-height: 1.15;
    @media screen and (min-width:1200px) {       
        line-height: 1.5;  
    }   
    font-weight: 700;       
    letter-spacing: 0.03em;
    text-align: center;
    color: rgba(33, 33, 33, 1);

}
.form-order__label{
    position: relative;    
    display: block; 
    font-size: 12px; 
    line-height: 1.67;      
    height: 58px;
    letter-spacing: 0.01em;
    text-align: left;
    color: rgba(117, 117, 117, 1); 
    margin-bottom: 10px;  
}
.form-order__input{    
    display: block;     
    padding-left: 42px;
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);   
    border-radius: 4px;
    color: var(--primary-text-color);
    transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus{
        outline: 1px solid var(--accent-text-color2);
        fill: var(--accent-text-color2); 
    }
    &:focus + .icon-input{
        color: var(--accent-text-color2); 
    } 
}
.form-order__label--comment{
    height: 138px;   
    margin-bottom: 20px;  
}
.form-order--comment{       
    width: 100%; 
    height: 120px;
    font-size: 12px;  
    line-height: 1.67;
    letter-spacing: 0.01em;
    text-align: left;     
    border: 1px solid rgba(122, 66, 66, 0.2);
    padding: 11px 16px 12px 16px;
    resize: none;
}
.form-comment:placeholder-shown{
    color: rgba(117, 117, 117, 0.5);   
}
.form-order__agreement{
    display: flex;
    width: 100%;
    align-items: center;
    @media screen and (min-width:1200px) {    
        justify-content: center;   
    }       
    gap: 9px;    
    margin-bottom: 30px;
    margin-top: 20px; 
}
.form-order__checkbox{
    display: inline-block; 
    width: 16px;
    height: 15px;  
    text-align: left;  

    &:checked + .icon-check{
        border: 2px solid var(--accent-text-color2); 
        fill: var(--accent-text-color1);
        background-color: var(--accent-text-color2);
    }   
}
.form-order__text-agreement{
    display: inline-block;
    margin-left: 8px;
    height: 14px;
    width: 235px;
}

.form-order--agreement{
    display: flex; 
    align-items: center;
    
    font-size: 12px;
    line-height: 1.17;
   /*  font-size: 14px; */
   /*  line-height: 1.714; */
    font-weight: 400;
    letter-spacing: 0.03em;
  text-align: left;   
  height: 14px;
} 
.form-order__link{
   /*  display: inline-block;   */
    color: var(--accent-text-color2);
   /*  margin-left: 5px; */
    height: 14px;   
}


