.container--header{ 
    /* position: relative;   */
    display: flex;
    padding-top: 24px; 
    padding-bottom: 25px;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid var(--logo-border);    
}   