.logo{   
    @extend %decoration;
    margin-right: 93px;  
     color: var(--logo-color-text);
     font-family: Raleway, sans-serif;
     font-style: 400;
     font-weight: 700;
     font-size: 26px;
     line-height: 1.19;
     letter-spacing: 0.03em;        
       
 }

 .logo__accent{
    color: var(--accent-text-color2);
 }

 .logo--color{
    display: inline-block;   
    margin-bottom: 20px;

    color: var(--accent-text-color1);
}
  
    
    
 

