.social-links{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 30px 32px;    
 }
 .social-links--footer{ 
    justify-content: start;
    margin: 20px 0 0 0;    
 }
 .social-links__icon-container{
    width: 44px;
    height: 44px;
    border-radius: 50%;
}
.social-links__link{
    display: flex;
    align-items: center;
    justify-content: center;  
    width: 44px; 
    height: 44px;
    border-radius: 50%;
    color: #afb1b8;
    background-color: var(--accent-text-color1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2,1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2,1);
    
    &:hover,
    &:focus{       
        background-color: var(--accent-text-color2);  
    }  
    &:hover svg, 
    &:focus svg{   
        color: var(--accent-text-color1);     
        fill: currentColor;     
    } 
}
.social-links__link--footer{    
    background-color:rgba(255, 255, 255, 0.1);   
}
