.social-links-container{ 
    display: block;  
    margin-left: 70px;     
} 
.social-links-container__text{    
    margin-top: 12px;

    color: var(--accent-text-color1);   
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-align: left;
}