.social-links-mobile{   
    display: flex;
    flex-wrap: wrap;
    gap: 10px;    
}

.social-links-mobile__link{  
    @extend %decoration;
    color: var(--accent-text-color2);  
    font-size: 18px;   
    line-height: 1.222;
    font-weight: 500;
    letter-spacing: 0.02em;
    text-align: left; 

    &:hover,
    &:focus{
        color: var(--accent-text-color2); 
    }
}
.social-links-mobile__link.border::after{    
    content: ""; 
    border: 1px solid rgba(33, 33, 33, 0.2);   
    transform: rotate(90dg);
    margin-left: 10px;    
}  



 