.team{
    @extend %padding-section; 
    background-color: var(--bg-team);
 }
.team__caption{
    @extend %caption-parameters;
}
 .team__list{
    @extend %decoration-list;  
}
.team__item{
    background-color: var(--accent-text-color1);  
    box-shadow:  0px 1px 3px rgba(0, 0, 0, 0.12), 
    0px 1px 1px rgba(0, 0, 0, 0.14), 
    0px 2px 1px rgba(0, 0, 0, 0.2);
   
    border-radius: 0px 0px 4px 4px;
 }
  
 .team__member-image{
     margin-bottom: 30px; 
 }
 .team__member-name{  
     margin-bottom: 10px;   
     
     color: var(--primary-text-color);
     font-size: 16px;
     font-weight: 500;
     line-height: 1.19;
     letter-spacing: 0.03em;
     text-align: center; 
 
 }
 .team__member-position{ 
     margin-bottom: 30px;
 
     font-size: 16px;
     line-height: 1.19;
     letter-spacing: 0.03em;
     text-align: center; 
 }
