:root{ 
    --primary-text-color: #212121;    
    --secondary-text-color: #757575;
    --accent-text-color1: #ffffff;
    --accent-text-color2: #2196F3;  
    --bg-color: #2F303A;
    --contact-color-footer: rgba(255,255,255,0.6);
    --logo-color-text: #000000; 
    --logo-border: #ECECEC;
    --project-card-border:  #EEEEEE;
    --bg-btn: #F5F4FA; 
    --bg-team:  #F5F4FA; 
    --bg-icon-features:  #F5F4FA;
}
